<configuration>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="application/json, text/plain, */*" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>
		<defaultDocument>
			<files>
				<add value="GetRallyWorks.html" />
			</files>
		</defaultDocument>
	</system.webServer>
</configuration>