<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Get the task list from Rally via REST API</title> <!-- Using the AngularJS with RequireJS -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="libs\requirejs\2.3.5\require.min.js" data-main="main.js"></script>
	<link rel="stylesheet" href="libs\bootstrap\3.3.7\bootstrap.min.css" />

	<style>
		input.ng-invalid {
			background-color: lightblue;
		}

		table th {
			text-align: center;
		}

		table, th, td {
			border: 1px solid grey;
			border-collapse: collapse;
			padding: 5px;
		}

			table tr:nth-child(odd) {
				background-color: #f1f1f1;
			}

			table tr:nth-child(even) {
				background-color: #ffffff;
			}

		.badgebox {
			opacity: 0;
		}

			.badgebox + .badge {
				/* Move the check mark away when unchecked */
				text-indent: -999999px;
				/* Makes the badge's width stay the same checked and unchecked */
				width: 27px;
			}

			.badgebox:focus + .badge {
				/* Set something to make the badge looks focused */
				/* This really depends on the application, in my case it was: */
				/* Adding a light border */
				box-shadow: inset 0px 0px 5px;
				/* Taking the difference out of the padding */
			}

			.badgebox:checked + .badge {
				/* Move the check mark back when checked */
				text-indent: 0;
			}
	</style>
</head>
<body>
	<form name="taskForm" ng-controller="rallyTaskController">
		<!--<form name="taskForm" ng-app="getRallyWorksApp" ng-controller="rallyTaskController">-->
		<div class="page-header text-primary text-center">
			<h1>Get Rally Tasks <small>--- Can also find the record of violation of process</small></h1>
			<div ng-if="checkStatPermision()" class="text-right">
				<a href="RallyWorkStatitics.html">Rally Warning Report</a>
			</div>
		</div>
		<!--<div class="jumbotron text-center">
			<h1>Get Rally Tasks</h1>
		</div>-->
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row alert alert-warning alert-dismissable pull-right" ng-show="(ErrorMsg)">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Warning:</strong>{{ErrorMsg}}
					</div>
					<div class="row">
						<div class="col-md-6">
							<rally-login></rally-login>
						</div>
						<span class="col-md-3 text-right alert alert-warning pull-right"
							  ng-show="taskForm.owner.$error.email">
							The email address is invalid
						</span>
					</div>
					<p></p>
					<div class="row">
						<div class="col-md-4">
							<div class="input-group">
								<span class="input-group-addon">Owner</span>
								<input class="form-control"
									   type="email"
									   id="owner"
									   name="owner"
									   list="emailOptions"
									   ng-model="owner"
									   required
									   placeholder="Enter owner's Rally account here" />
								<datalist id="emailOptions">
									<option ng-repeat="email in emailList | orderBy: email" value={{email}}></option>
								</datalist>
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon"
									  data-toggle="tooltip"
									  data-placement="top"
									  title="0 means get all tasks after 2019-01-01; >0 means just get the tasks belong to the specified sprint">
									Sprint
								</span>
								<input class="form-control"
									   type="number" min="-1" max="999"
									   id="sprint"
									   name="sprint"
									   ng-model="sprint"
									   required
									   placeholder="Enter target sprint" />
							</div>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon"
									  style="border:0;background:transparent;"
									  data-toggle="tooltip"
									  data-placement="top"
									  title="Check if need to get all tasks even though they are not completed or accepted.">
									Ignore<br />ScheduleState
								</span>
								<input type="checkbox" class="custom-control-input" ng-model="IgnoreScheduleState" />
							</div>
						</div>
						<div class="col-md-2"><!--style="width:auto"-->
							<button class="btn btn-md btn-block btn-default"
									id="btnRefresh"
									ng-disabled="inQuerying"
									ng-click="refreshTaskList()"
									data-toggle="tooltip"
									data-placement="top"
									title="Get tasks belongs to the [Owner] of the specified [Sprint]">
								Refresh Task List
							</button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-md btn-block btn-default"
									id="btnRefreshAll"
									ng-disabled="inQuerying"
									ng-click="refreshAll()"
									data-toggle="tooltip"
									data-placement="top"
									title="Get all tasks of all person according to the specified [Sprint]">
								Get All
							</button>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-5">
							<h4 class="text-primary"><b>Query Results</b> ({{filteredRecords.length}} / {{TaskList.length}}) <span style="font-size:15px">{{getWorkload(filteredRecords)}}</span></h4>
						</div>
						<div class="col-md-7">
							<div class="pull-right">
								<label for="other" class="btn btn-default">Other <input type="checkbox" ng-model="ShowOthers" ng-click="resetWorkloadStat()" id="other" class="badgebox"><span class="badge">&check;</span></label>
								<label for="13a" class="btn btn-info">1.3A <input type="checkbox" ng-model="Show13a" ng-click="resetWorkloadStat()" id="13a" class="badgebox"><span class="badge">&check;</span></label>
								<label for="13b" class="btn btn-primary">1.3B <input type="checkbox" ng-model="Show13b" ng-click="resetWorkloadStat()" id="13b" class="badgebox"><span class="badge">&check;</span></label>
								<label for="14a" class="btn btn-info">1.4A <input type="checkbox" ng-model="Show14a" ng-click="resetWorkloadStat()" id="14a" class="badgebox"><span class="badge">&check;</span></label>
								<label for="14b" class="btn btn-primary">1.4B <input type="checkbox" ng-model="Show14b" ng-click="resetWorkloadStat()" id="14b" class="badgebox"><span class="badge">&check;</span></label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1">
							<button class="btn btn-md btn-block btn-default" style="width:auto" ng-click="export()">To Clipboard</button>
						</div>
						<div class="col-md-2">
							<div class="input-group">
								<span class="input-group-addon">Order By:</span>
								<select class="btn btn-default" ng-model="OrderByOptionIndex" ng-options="item.value as item.name for item in OrderByOptions" ng-change="orderChanged()">
									<!--<option value="0">Default</option>
									<option value="1">Priority</option>
									<option value="2">ScheduleState</option>-->
								</select>
							</div>
						</div>
						<div class="col-md-9" ng-show="IgnoreScheduleState">
							<div class="pull-right">
								<label for="indefine" class="btn btn-default">In Definition <input type="checkbox" ng-model="ShowInDefine" ng-click="resetWorkloadStat()" id="indefine" class="badgebox"><span class="badge">&check;</span></label>
								<label for="defined" class="btn btn-info">Defined <input type="checkbox" ng-model="ShowDefined" ng-click="resetWorkloadStat()" id="defined" class="badgebox"><span class="badge">&check;</span></label>
								<label for="wip" class="btn btn-primary">In-Progress <input type="checkbox" ng-model="ShowWIP" ng-click="resetWorkloadStat()" id="wip" class="badgebox"><span class="badge">&check;</span></label>
								<label for="completed" class="btn btn-warning">Completed <input type="checkbox" ng-model="ShowCompleted" ng-click="resetWorkloadStat()" id="completed" class="badgebox"><span class="badge">&check;</span></label>
								<label for="accepted" class="btn btn-success">Accepted <input type="checkbox" ng-model="ShowAccepted" ng-click="resetWorkloadStat()" id="accepted" class="badgebox"><span class="badge">&check;</span></label>
								<label for="failed" class="btn btn-danger">Failed Only <input type="checkbox" ng-model="ShowFailedOnly" id="failed" class="badgebox"><span class="badge">&check;</span></label>
							</div>
						</div>
					</div>
					<div class="row">
						<table class="table table-hover table-bordered table-responsive" border="1" id="result">
							<thead>
								<tr>
									<th>#</th>
									<th>ID</th>
									<th>Description</th>
									<th>Priority</th>
									<th>Estimate<br />(Day)</th>
									<th>Actuals<br />(Hour)</th>
									<th>Owner</th>
									<th>Iteration</th>
									<th ng-show="IgnoreScheduleState">State</th>
									<th>Reject</th>
									<th>Ever Failed</th>
									<th>UT Need</th>
									<th>Testable</th>
									<th>BlockedReason</th>
									<!--<th>AC</th>-->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="task in TaskList | orderBy:OrderByValue |filter: scheduleStateFilter as filteredRecords"
									ng-style="{ 'textDecoration' : task.Reject ? 'line-through' : 'none', 'fontStyle' : task.Testable ? 'normal' : 'italic', 'color' : (task.Blocked ? 'red' : (task.Testable ? 'black' : 'gray')) }">
									<td align="center">{{$index + 1}}</td>
									<td>{{task.id}}</td>
									<td><a href='{{task.Link}}'><b ng-show="task.Blocked"><font color="red">[Blocked] &nbsp;</font></b>{{task.Description}}</a></td>
									<td align="center">{{task.Priority}}</td>
									<td align="right">{{task.Estimate}}</td>
									<td align="right">{{task.Actuals}}</td>
									<td align="center">{{task.Owner}}</td>
									<td align="center">{{task.Iteration}}</td>
									<td align="center" ng-show="IgnoreScheduleState">{{task.ScheduleState}}</td>
									<td align="center">{{task.Reject ? 'Y' : ''}}</td>
									<td align="center"><div style="color:red; font-weight:bold">{{task.EverFailed ? 'Y' : ''}}</div></td>
									<td align="center"><div ng-style="{ 'color' : (task.UTNeed == 'Missed') ? 'red' : 'black', 'fontWeight' : (task.UTNeed == 'Missed') ? 'bold' : 'normal' }">{{task.UTNeed}}</div></td>
									<td align="center">{{task.Testable ? '' : 'No'}}</td>
									<td>{{task.BlockedReason}}</td>
									<!--<td>{{task.AC}}</td>-->
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row"></div>
					<div class="row" ng-if="checkStatPermision()">
						<div class="col-md-2">
							<button class="btn btn-block" ng-click="collectWorkloadStatData()">Workload Summary</button>
						</div>
					</div>
					<div class="row" ng-if="checkStatPermision()">
						<div class="col-md-4">
							<table class="table table-hover table-bordered table-responsive" border="1">
								<thead>
									<tr>
										<th>#</th>
										<th>Name</th>
										<th>Count</th>
										<th>Est. Days</th>
										<th>Act. Hours</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="data in workloadStat.WorkLoad ">
										<td align="center">{{$index + 1}}</td>
										<td>{{data.Owner}}</td>
										<td align="center">{{data.Count}}</td>
										<td align="right">{{data.Days}}</td>
										<td align="right">{{data.Hours}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-8">
							<canvas class="chart chart-bar"
									height="{{workloadStat.ChartHeight}}"
									chart-data="workloadStat.ChartData"
									chart-labels="workloadStat.ChartLabels"
									chart-series="workloadStat.ChartSeries"
									chart-options="workloadStat.ChartOptions"></canvas>
						</div>
					</div>
					<div class="row" ng-if="checkStatPermision()">
						<div class="col-md-2">
							<button class="btn btn-block" ng-click="getProjectSummaryReport()">Project Status Summary</button>
						</div>
					</div>
					<div class="row" ng-if=checkStatePermision()>
						<div class="col-md-12">
							<table class="table table-hover table-bordered table-responsive" border="1" size="auto">
								<thead>
									<tr>
										<th>Project</th>
										<th>Not Start</th>
										<th>In Progress</th>
										<th>Completed</th>
										<th>Accepted</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="(project, data) in projectSummary">
										<td align="left">{{project}}</td>
										<td align="right">{{data["Not Start"]._Count + ' (' + data["Not Start"].Estimate + 'D)'}}</td>
										<td align="right">{{data["In-Progress"]._Count + ' (' + data["In-Progress"].Estimate + 'D)'}}</td>
										<td align="right">{{data["Completed"]._Count + ' (' + data["Completed"].Estimate + 'D)'}}</td>
										<td align="right">{{data["Accepted"]._Count + ' (' + data["Accepted"].Estimate + 'D)'}}</td>
										<td align="right">{{projectSummary[project].Total}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
