<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>Rally Works Statistics - Using the AngularJS with RequireJS</title>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="libs\requirejs\2.3.5\require.min.js" data-main="main.js"></script>

	<!-- Need manually reference those two lines if use the bootstrap tab, not find out the root cause yet -->
	<script src="libs\jquery\3.2.1\jquery.min.js"></script>
	<script src="libs\bootstrap\current\bootstrap.min.js"></script>

	<link rel="stylesheet" href="libs\bootstrap\current\bootstrap.min.css" />

	<style>
		input.ng-invalid {
			background-color: lightblue;
		}

		table th {
			text-align: center;
		}

		table, th, td {
			border: 1px solid grey;
			border-collapse: collapse;
			padding: 5px;
		}

			table tr:nth-child(odd) {
				background-color: #f1f1f1;
			}

			table tr:nth-child(even) {
				background-color: #ffffff;
			}
	</style>
</head>
<body>
	<form name="statisticsForm" ng-controller="rallyWorkStatController">
		<div class="page-header text-primary text-center">			
			<h1>Get Rally Features <small>--- Using AngularJS with RequireJS</small></h1>
			<div class="text-right">
				<a href="GetRallyWorks.html">Get Rally Work Status</a>
			</div>
		</div>		
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="row alert alert-warning alert-dismissable pull-right" ng-show="(ErrorMsg)">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Warning:</strong>{{ErrorMsg}}
					</div>
					<div class="row">
						<div class="col-md-6">
							<rally-login></rally-login>
						</div>
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#warningPanel" data-toggle="tab">Warning Report</a>
				</li>
				<li>
					<a href="#featurePanel" data-toggle="tab">Feature Status</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane" id="featurePanel">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-5">
									<div class="input-group">
										<span class="input-group-addon">Relase</span>
										<input class="form-control"
											   type="text"
											   id="release"
											   name="release"
											   list="releaseList"
											   ng-model="Release"
											   placeholder="Enter release here" />
										<datalist id="releaseList">
											<option ng-repeat="release in ReleaseList" value={{release}}></option>
										</datalist>
									</div>
								</div>
								<div class="col-md-2">
									<button class="btn btn-md btn-block btn_primary"
											id="btnRefresh"
											ng-disabled="inQuerying"
											ng-click="refreshFeatureList()"
											data-toggle="tooltip"
											data-placement="top"
											title="Get features belongs to the specified Release">
										Refresh Task List
									</button>
								</div>
								<div class="col-md-2">
									<button class="btn btn-md btn-block"
											id="btnRefreshAll"
											ng-disabled="inQuerying"
											ng-click="refreshAll()"
											data-toggle="tooltip"
											data-placement="top"
											title="Get all features of IV v1.4">
										Get All
									</button>
								</div>
							</div>
						</div>
						<div class="panel-body">
							<h4 class="text-primary">Query Results: {{FeatureList.length}}</h4>
							<div class="row">
								<table class="table table-hover table-bordered table-responsive" border="1">
									<thead>
										<tr>
											<th>#</th>
											<th>ID</th>
											<th>Description</th>
											<th>StoryCount</th>
											<th>PlanEstimateTotal</th>
											<th>PercentDoneByStoryCount</th>
											<th>PercentDoneByStoryPlanEstimate</th>
											<th>Release</th>
											<th>Project</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="feature in FeatureList | orderBy:['Release', 'Project']">
											<td>{{$index + 1}}</td>
											<td>{{feature.Id}}</td>
											<td><a href='{{feature.Link}}'>{{feature.Description}}</a></td>
											<td>{{feature.StoryCount}}</td>
											<td>{{feature.PlanEstimateTotal}}</td>
											<td>{{feature.PercentDoneByStoryCount}}</td>
											<td>{{feature.PercentDoneByStoryPlanEstimate}}</td>
											<td>{{feature.Release}}</td>
											<td>{{feature.Project}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane active" id="warningPanel">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-6"></div>
								<div class="col-md-2">
									<button class="btn btn-md btn-block"
											id="btnExportWarningReport"
											ng-disabled="inQuerying"
											ng-click="exportWarningReport()"
											data-toggle="tooltip"
											data-placement="top"
											title="Export warning report">
										Export Warning Report
									</button>
								</div>
								<div class="col-md-2">
									<button class="btn btn-md btn-block"
											id="btnSendEmail"
											ng-disabled="inQuerying"
											ng-click="sendEmail()"
											data-toggle="tooltip"
											data-placement="top"
											title="Send email">
										Send Email
									</button>
								</div>
								<div class="col-md-2 pull-right">
									<button class="btn btn-md btn-block"
											id="btnGetWarningReport"
											ng-disabled="inQuerying"
											ng-click="getWarningReport()"
											data-toggle="tooltip"
											data-placement="top"
											title="Get warning report">
										Get Warning Report
									</button>
								</div>
							</div>
						</div>
						<div class="panel-body" id="warningReportDetail">
							<h4 class="text-primary">Warning Records Found: {{WarningReport.Total}}</h4>
							<div class="row">
								<div ng-repeat="category in WarningReport.Data">
									<div class="bg-primary" id="{{category.Category}}"><h4>#{{$index + 1}}. &nbsp {{category.Desc}} &nbsp -- &nbsp (Total: &nbsp {{category.Data.length}})</h4></div>
									<div class="text-success"><h5><b>Name List:</b> &nbsp {{WarningReport.NameListByCategory[category.Category]}}</h5></div>
									<table class="table table-hover table-bordered table-responsive" border="1">
										<thead>
											<tr>
												<th>#</th>
												<th>ID</th>
												<th>Description</th>
												<th>Iteration</th>
												<th>Owner</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="record in category.Data | orderBy:['Owner', 'Iteration']">
												<td>{{$index + 1}}</td>
												<td>{{record.id}}</td>
												<td><a href='{{record.Link}}'>{{record.Description}}</a></td>
												<td>{{record.Iteration}}</td>
												<td>{{record.Owner}}</td>
											</tr>
										</tbody>
									</table>
									<br />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>