<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<meta origin="http://http://10.112.20.108"/>
	<title>Get the ADO task list</title> <!-- Using the AngularJS with RequireJS -->

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Html style Tooltip would not work if not include the following 2 files -->
	<script src="libs\requirejs\2.3.5\require.min.js" data-main="main.js"></script>
	<link rel="stylesheet" href="libs\bootstrap\current\bootstrap.min.css" />

	<link rel="stylesheet" href="adoTask.css" />
</head>
<body>
	<form name="taskForm" ng-controller="adoTaskController">
		<div ng-show="currentTab === 'FeatureTeam'" class="page-header text-primary text-center" data-toggle="modal" data-target="#selectProjectTeamModal">
			<h1>Get ADO Tasks <small>{{Dev.QueryTypeString}}</small></h1>
		</div>
		<div ng-show="currentTab === 'Statistics'" class="page-header text-primary text-center">
			<h1>Get Statistics Data <small>{{QueryTypeString}}</small></h1>
		</div>
		<div ng-show="currentTab === 'CPE'" class="page-header text-primary text-center">
			<h1>Get CPE Tasks <small>{{CPE.QueryTypeString}}</small></h1>
		</div>
		<div ng-show="InQuerying" id="busy"></div>
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div id="PoppedMsg" class="row alert alert-warning alert-dismissable pull-right" ng-show="ErrorMsg !== ''">
						<a href="#" class="close" aria-label="close" ng-click="$event.preventDefault();clearError()">&times;</a>
						<strong>{{ErrorMsg}}</strong>
					</div>
					<div class="row">
						<div class="col-md-6"><ado-login></ado-login></div>
						<div class="col-md-4">
							<span class="col-md-4 text-right alert alert-warning" ng-show="taskForm.owner.$error.email">
								The email address is invalid
							</span>
						</div>
						<div class="col-md-2 pull-right">
							<button class="btn btn-warning"
									data-toggle="tooltip"
									title="Clear cache from this machine"
									ng-click="clearCache()">
								Clear Cache
							</button>
							<br /><br />
							<span>
								<a href="QueryByWiql.html">Query via WIQL</a>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body">
					<ul class="nav nav-tabs nav-pills nav-justified">
						<li class="active" ng-click="switchTab('FeatureTeam')"><a data-toggle="tab" href="#FeatureTeam">Feature Team</a></li>
						<li ng-click="switchTab('Statistics')"><a data-toggle="tab" href="#Statistics">Statistics</a></li>
						<li ng-click="switchTab('CPE')"><a data-toggle="tab" href="#CPE">CPE</a></li>
					</ul>

					<div class="tab-content">
						<div id="FeatureTeam" class="tab-pane fade in active">
							<br />
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon">Owner</span>
												<input class="form-control"
													   type="email"
													   id="owner"
													   name="owner"
													   list="emailOptions"
													   ng-model="Dev.Owner"
													   placeholder="Enter owner's ADO account here" />
												<datalist id="emailOptions">
													<option ng-repeat="email in Dev.EmailList | orderBy: email" value={{email}}></option>
												</datalist>
											</div>
										</div>
										<div class="col-md-2">
											<div class="input-group">
												<span class="input-group-addon"
													  data-toggle="tooltip"
													  data-placement="top"
													  title="0 means get all tasks after 2020-01-01; >0 means just get the tasks belong to the specified sprint; -1 means get the unscheduled tasks">
													Sprint
												</span>
												<input class="form-control"
													   type="number" min="-1" max="999"
													   id="sprint"
													   name="sprint"
													   ng-model="Dev.Sprint"
													   required
													   placeholder="Enter target sprint" />
											</div>
										</div>
										<div draggable="true" class="col-md-4 pull-right">
											<div class="input-group">
												<span class="input-group-btn">
													<button class="btn btn-md btn-block btn-default"
															id="btnRefresh"
															ng-disabled="InQuerying"
															ng-click="Dev.refreshSingle()"
															data-toggle="tooltip"
															data-placement="top"
															title="Get tasks belongs to the [Owner] of the specified [Sprint]">
														Refresh Task List
													</button>
												</span>
												<span class="input-group-btn">
													<button class="btn btn-md btn-block btn-default"
															id="btnRefreshAll"
															ng-disabled="InQuerying"
															ng-click="Dev.refreshAll()"
															data-toggle="tooltip"
															data-placement="top"
															title="Get all tasks of all person according to the specified [Sprint]">
														Get All
													</button>
												</span>
												<span class="input-group-btn dropdown" data-toggle="tooltip" title="Get all open defects">
													<button class="btn btn-default dropdown-toggle"
															type="button"
															id="openDefectsButton"
															ng-disabled="InQuerying"
															data-toggle="dropdown"
															aria-haspopup="true"
															aria-expanded="false">
														Open Defect
														<span class="caret"></span>
													</button>>

													<ul class="dropdown-menu" aria-labelledby="openDefectsButton">
														<li><a class="dropdown-item" href="#" ng-click="Dev.getOpenDefects(CurrentRelease)">{{Dev.CurrentRelease}}</a></li>
														<li><a class="dropdown-item" href="#" ng-click="Dev.getOpenDefects(SecondRelease)">{{Dev.SecondRelease}}</a></li>
													</ul>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<h4 class="text-primary">
												<b>Query Results</b>
												[{{filteredRecords.length}} / {{Dev.TaskList.length}}]
												<span style="font-size:15px">{{Dev.getWorkload(filteredRecords)}}</span>
											</h4>
										</div>
										<div class="col-md-8">
											<div class="pull-right">
												<labeled-checkbox ng-hide="!Dev.QueryForOpenDefect" class="btn-info" uid="unassigned" label="Unassigned Only" ng-model="Dev.ShowUnassignedOnly" action="Dev.resetWorkloadStat()" title="Show unassigned only"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-default" uid="other" label="Other" ng-model="Dev.ShowOthers" action="resetWorkloadStat()"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-info" uid="secondRelease" label="{{Dev.SecondRelease}}" ng-model="Dev.Show2ndRelease" action="Dev.resetWorkloadStat()"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-primary" uid="CurrentRelease" label="{{Dev.CurrentRelease}}" ng-model="Dev.ShowCurrentRelease" action="Dev.resetWorkloadStat()"></labeled-checkbox>
												<labeled-checkbox class="btn-warning" uid="SDC" label="SDC Only" shortlabel="{{QueryForOpenDefect ? 'SDC Only' : 'SDC'}}" ng-model="Dev.SDCOnly" action="Dev.resetWorkloadStat()" title="Show tasks owned by SDC only"></labeled-checkbox>
												<labeled-checkbox class="btn-success" uid="CurrentTeam" label="{{Dev.CurrentTeamShortName}} Only" shortlabel="{{Dev.QueryForOpenDefect ? Dev.CurrentTeamShortName + ' Only' : Dev.CurrentTeamShortName}}" ng-model="Dev.CurrentTeamOnly" action="Dev.resetWorkloadStat()" title="Show team {{Dev.CurrentTeamShortName}} task only"></labeled-checkbox>
												<span>
													<select class="btn btn-primary" ng-model="Dev.DeOrUs" ng-change="Dev.resetWorkloadStat()">
														<option>ALL</option>
														<option>DE Only</option>
														<option>US Only</option>
													</select>
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" style="width:auto"
															data-toggle="tooltip"
															data-placement="right"
															title="Enable HTML format Tooltip"
															ng-click="enableHtmlFormatTooltip()">
														Tooltip
													</button>
												</span>
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" style="width:auto"
															data-toggle="tooltip"
															data-placement="right"
															title="Export data to Clipboard"
															ng-click="export()">
														Clipboard
													</button>
												</span>
												<div class="dropup">
													<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
														Show/Hide <span class="caret"></span>
													</button>
													<ul class="dropdown-menu">
														<li class="dropdown-header">Show/hide following fields:</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowProductField" />Product
																</label>
															</div>
														</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowIterationField" />Iteration
																</label>
															</div>
														</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowRejectField" />Reject
																</label>
															</div>
														</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowFeatureField" />Feature
																</label>
															</div>
														</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowBlockReasonField" />Block Reason
																</label>
															</div>
														</li>
														<li>
															<div class="checkbox">
																<label>
																	<input type="checkbox" ng-model="Dev.ShowCompleteDate" />CompleteDate
																</label>
															</div>
														</li>
													</ul>
												</div>
												<span class="input-group-addon">Order By:</span>
												<select class="btn btn-default"
														ng-model="Dev.OrderByOptionIndex"
														ng-options="item.value as item.name for item in Dev.OrderByOptions"
														ng-change="Dev.orderChanged()">
												</select>
											</div>
										</div>
										<div class="col-md-9">
											<div class="pull-right">
												<labeled-checkbox class="btn-default" uid="indefine" label="New" shortlabel="{{Dev.QueryForOpenDefect ? 'New' : 'ID'}}" ng-model="Dev.ShowNew" action="Dev.resetWorkloadStat()" title="New"></labeled-checkbox>
												<labeled-checkbox class="btn-info" uid="defined" label="Assigned" shortlabel="{{Dev.QueryForOpenDefect ? 'Assigned' : 'D'}}" ng-model="Dev.ShowAssigned" action="Dev.resetWorkloadStat()" title="Defined"></labeled-checkbox>
												<labeled-checkbox class="btn-primary" uid="wip" label="Active" shortlabel="{{Dev.QueryForOpenDefect ? 'Active' : 'P'}}" ng-model="Dev.ShowActive" action="Dev.resetWorkloadStat()" title="Active"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-warning" uid="completed" label="Resolved" shortlabel="C" ng-model="Dev.ShowResolved" action="Dev.resetWorkloadStat()" title="Resolved"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-success" uid="accepted" label="Closed" shortlabel="A" ng-model="Dev.ShowClosed" action="Dev.resetWorkloadStat()" title="Closed"></labeled-checkbox>
												<labeled-checkbox class="btn-default" uid="rejected" label="Reject/Postpone" ng-model="Dev.ShowRejectedDefects" action="Dev.resetWorkloadStat()" title="If to show tasks that mark as Rejected/Reject Requested/Postponed/Postpone Requested/Duplicate"></labeled-checkbox>
												<labeled-checkbox ng-hide="Dev.QueryForOpenDefect" class="btn-danger" uid="failed" label="Invalid Only" ng-model="Dev.ShowInvalidItemOnly" action="Dev.resetWorkloadStat()" title="Show verify failed tasks only"></labeled-checkbox>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<table class="table table-hover table-bordered table-responsive" border="1" id="result">
												<thead>
													<tr>
														<th style="vertical-align: middle; text-align: center">#</th>
														<th style="vertical-align: middle; text-align: center" data-toggle="tooltip" title="Highlight in bold means was changed today">ID</th>
														<th style="vertical-align: middle; text-align: center" data-toggle="tooltip">Description</th>
														<th style="vertical-align: middle; text-align: center">Priority</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowProductField" width="5%">Product</th>
														<th style="vertical-align: middle; text-align: center" data-toggle="tooltip" title="If show with underline style, means it has child task.">Points</th>
														<th style="vertical-align: middle; text-align: center">Owner</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowIterationField">Iteration</th>
														<th style="vertical-align: middle; text-align: center" data-toggle="tooltip" title="Highlight in bold means was changed today">State</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowCompleteDate" data-toggle="tooltip" title="The resolved or closed date">CompleteDate</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowRejectField" ng-if="!Dev.QueryForOpenDefect">Reject</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowFeatureField">Feature</th>
														<th class="col-3" width="10%">
															<div class="input-group">
																<input type="checkbox" ng-model="Dev.IfSaveOtherInfo2Local" />
																&nbsp;
																<label class="btn btn-default btn-sm h-50" ng-click="saveOtherInfo2Local()" datatoggle="tooltip" data-html="true" title="Save comments into the browser local storage">S</label>
																<label class="btn btn-default btn-sm h-50" ng-click="exportOtherInfoFromLocal()" datatoggle="tooltip" data-html="true" title="Export comments to another machine">E</label>
																<label class="btn btn-default btn-sm h-50" ng-click="importOtherInfo2Local()" datatoggle="tooltip" data-html="true" title="Import comments to this machine">I</label>
																<input type="text" class="form-control" style="font-size:12px;" align="center" ng-model="Dev.OtherInfoLabel" placeholder="Custom Label" />
															</div>
														</th>
														<th style="vertical-align: middle; text-align: center" ng-show="Dev.ShowBlockReasonField" width="10%">BlockedReason</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="task in Dev.TaskList | orderBy:Dev.OrderByValue |filter: Dev.scheduleStateFilter as filteredRecords"
														ng-style="{ 'textDecoration' : (task.Rejected || task.Duplicate || task.Postpone) ? 'line-through' : 'none'
																		, 'fontStyle' : task.Testable ? 'normal' : 'italic'
																		, 'color' : (task.Blocked ? 'red' : (task.Testable ? 'black' : 'gray'))
																	}">
														<td style="vertical-align: middle; text-align: center" class="supportHover">
															{{$index + 1}}
															<!--<button type="button" class="btnShowOnHoverOnly btn btn-info" ng-click="getChildren(task)">Children</button>-->
														</td>
														<td style="vertical-align: middle; text-align: center"><div ng-style="{ 'fontWeight' : (task.WasChangedToday == true) ? 'bold' : 'normal' }">{{task.Id}}</div></td>
														<td style="vertical-align: middle;">
															<b ng-show="task.CanDirectlyClose" data-toggle="tooltip" data-html="true" title="<i>Should directly close since it is not testable</i>"><font color="red">[DirectlyClose]</font></b>
															<b ng-show="task.Blocked === 'Yes'" data-toggle="tooltip" data-html="true" title="<i><b>Blocked with the reason:</b><br>{{task.CSH_BlockedReason}}</i>"><font color="red">[Blocked]</font></b>
															<b ng-show="task.Requirement == '' && task.Feature == ''" data-toggle="tooltip" data-html="true" title="<i>It should be associated with a feature or user story</i>"><font color="red">[No Parent]</font></b>
															<b ng-show="task.Duplicate" data-toggle="tooltip" data-html="true" title="<i>Duplicate with another defect</i>"><font color="black">[Duplicate]</font></b>
															<b ng-show="task.AcMissed" data-toggle="tooltip" data-html="true" title="<i>Acceptance Criteria MUST be specified</i>"><font color="red">[AC Missed]</font></b>
															<b ng-show="task.RequiredFieldMissed" data-toggle="tooltip" data-html="true" title="<i>ALL required fields must be filled before completing a defect</i>"><font color="red">[Required Field Missed]</font></b>
															<b ng-show="task.WrongOwner" data-toggle="tooltip" data-html="true" title="<i>No need to assign a Completed US to QA.<br>And should assign defect back to developer after it get accepted.</i>"><font color="red">[Wrong Owner]</font></b>
															<b ng-show="task.WorkingHoursMissed" data-toggle="tooltip" data-html="true" title="<i>No working hours entered.</i>"><font color="red">[Working Hours Missed]</font></b>
															<a href='{{task.Link}}' target="_blank"
															   data-toggle="tooltip" title={{task.Description}} data-html="true" data-placement="right" data-delay='{ "show": "1500", "hide": "1000" }'>
																{{task.Title}}
															</a>
														</td>
														<td style="vertical-align: middle; text-align: center">{{task.Priority}}</td>
														<td ng-show="Dev.ShowProductField" style="vertical-align: middle; text-align: center" width="5%">{{task.CSH_FoundInProduct}}</td>
														<!-- Should use the [data-original-title] if to show html format (especially a table format data) tooltip -->
														<td style="vertical-align: middle; text-align: center">
															<span ng-style="{ textDecorationLine: task.ChildrenTooltip ? 'underline' : 'none', verticalAlign: 'middle', textAlign: 'center', display: 'block' }"
																  data-toggle="tooltip"
																  data-html="true"
																  data-placement="top"
																  data-delay='{ "show": "1500", "hide": "1000" }'
																  data-original-title="{{task.ChildrenTooltip}}">
																{{task.StoryPoints}}
															</span>
														</td>
														<td style="vertical-align: middle; text-align: center">{{task.Owner}}</td>
														<td ng-show="Dev.ShowIterationField" style="vertical-align: middle; text-align: center">{{task.Iteration}}</td>
														<td style="vertical-align: middle; text-align: center">
															<a href="{{task.Link}}" target="_blank" ng-style="{ 'fontWeight' : (task.WasChangedToday === true) ? 'bold' : 'normal' }">
																{{task.State}}
															</a>
														</td>
														<td ng-show="Dev.ShowCompleteDate" style="vertical-align: middle; text-align: center">{{task.CompletedDate}}</td>
														<td ng-show="Dev.ShowRejectField" ng-if="!Dev.QueryForOpenDefect" style="vertical-align: middle; text-align: center">{{task.Rejected ? 'Y' : ''}}</td>
														<td ng-show="Dev.ShowFeatureField" style="vertical-align: middle; text-align: center">
															<a href="{{task.ParentLink}}" target="_blank"
															   dta-toggle="tooltip" title="{{getFeatureName(task.Parent)}}">
																{{task.Parent}}
															</a>
														</td>
														<td class="col-3" width="10%">
															<textarea style="word-break:break-all" class="form-control" ng-model="task.Other"></textarea>
														</td>
														<td ng-show="Dev.ShowBlockReasonField" width="10%" style="vertical-align: middle;" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{ "show": "1500", "hide": "1000" }' title="{{task.CSH_BlockedReason}}">{{task.OmittedBlockedReason}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="row"></div>
									<!-- Summary of developer's story points per the current filter' -->
									<div class="table-bordered" style="border-color: lightblue; margin: 2px;">
										<table-and-chart uid="{{Dev.WorkloadStat.Name}}"
														 label="Workload Summary"
														 headers="Dev.WorkloadStat.Headers"
														 columns="Dev.WorkloadStat.Columns"
														 source-data="Dev.WorkloadStat.Workload"
														 action="Dev.collectWorkloadStatData()"
														 export-data="exportData(Dev.WorkloadStat)"
														 tip="Working hours statistics by sprint & owner">
										</table-and-chart>
									</div>
									<!-- End -->
								</div>
							</div>
						</div>
						<div id="Statistics" class="tab-pane fade">
							<br />
							<div class="panel panel-default">
								<div class="panel-heading">
									<label>Heading</label>
								</div>
								<div class="panel-body">
									<!-- Summary of developer's working hour by the sub task' -->
									<div class="table-bordered" style="border-color:lightblue; margin: 2px;">
										<table-and-chart uid="{{workingHoursStatOwner.Name}}"
														 label="Working hours statistics by owner"
														 headers="workingHoursStatOwner.Headers"
														 columns="workingHoursStatOwner.Columns"
														 source-data="workingHoursStatOwner.Workload"
														 action="removeClass('#workingHoursStatOwnerTableChart', 'collapse'); removeClass('#workingHoursStatTeamTableChart', 'collapse');calcWorkingHours()"
														 export-data="exportData(workingHoursStatOwner)"
														 state="collapse"
														 title="Working hours statistics by owner">
										</table-and-chart>
									</div>
									<!-- Summary of team's working hour by the sub task' -->
									<div class="table-bordered" style="border-color:lightblue; margin: 2px;">
										<table-and-chart uid="{{workingHoursStatTeam.Name}}"
														 label="Working hours statistics by team"
														 headers="workingHoursStatTeam.Headers"
														 columns="workingHoursStatTeam.Columns"
														 source-data="workingHoursStatTeam.Workload"
														 export-data="exportData(workingHoursStatTeam)"
														 disable-button="true"
														 state="collapse"
														 title="Working hours statistics by team">
										</table-and-chart>
									</div>
									<!-- End -->
								</div>
							</div>
						</div>
						<div id="CPE" class="tab-pane fade">
							<br />
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<div class="col-md-3">
											<div class="input-group">
												<span class="input-group-addon"
													  data-toggle="tooltip"
													  data-placement="top"
													  title="Ado records created after a specified date">
													Created After
												</span>
												<input class="form-control"
													   type="date"
													   ng-model="CPE.CreatedAfter"
													   ng-change="CPE.specialDateRangeChanged('FixedDate')"
													   placeholder="Ado records created after a specified date" />
											</div>
										</div>
										<div class="col-md-4">
											<div class="input-group">
												<span class="input-group-addon"
													  data-toggle="tooltip"
													  data-placement="top"
													  title="ADO records created within a special date range">
													OR
												</span>
												<select class="btn btn-default" ng-model="CPE.SpecialDateRange" ng-change="CPE.specialDateRangeChanged('Range')">
													<option value="none"></option>
													<option value="curr_week">In Current Week</option>
													<option value="within_week">Within a Week</option>
													<option value="curr_month">In Current Month</option>
													<option value="within_month">Within a Month</option>
												</select>
											</div>
										</div>
										<div draggable="true" class="col-md-1 pull-right">
											<button class="btn btn-md btn-block btn-default"
													id="btnCpeRefresh"
													ng-disabled="InQuerying"
													ng-click="CPE.query()"
													data-toggle="tooltip"
													data-placement="top"
													title="Get CPE records from ADO">
												Query
											</button>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-4">
											<h4 class="text-primary">
												<b>Query Results</b>
												[{{filteredCpeRecords.length}} / {{CPE.TaskList.length}}]
											</h4>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="input-group">
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" style="width:auto"
															data-toggle="tooltip"
															data-placement="right"
															title="Enable HTML format Tooltip"
															ng-click="enableHtmlFormatTooltip()">
														Tooltip
													</button>
												</span>
												<span class="input-group-btn">
													<button type="button" class="btn btn-primary" style="width:auto"
															data-toggle="tooltip"
															data-placement="right"
															title="Export data to Clipboard"
															ng-click="exportData(filteredCpeRecords, CPE.Columns)">
														Clipboard
													</button>
												</span>
												<span class="input-group-addon">Order By:</span>
												<select class="btn btn-default"
														ng-model="CPE.OrderByOptionIndex"
														ng-options="item.value as item.name for item in CPE.OrderByOptions"
														ng-change="CPE.orderChanged()">
												</select>
											</div>
										</div>
										<div class="col-md-9">
											<div class="pull-right">
												<labeled-checkbox class="btn-default" uid="cpe_indefine" label="New" shortlabel="New" ng-model="CPE.ShowNew" action="CPE.resetWorkloadStat()" title="New"></labeled-checkbox>
												<labeled-checkbox class="btn-info" uid="cpe_defined" label="Assigned" shortlabel="Assigned" ng-model="CPE.ShowAssigned" action="CPE.resetWorkloadStat()" title="Defined"></labeled-checkbox>
												<labeled-checkbox class="btn-primary" uid="cpe_wip" label="Active" shortlabel="Active" ng-model="CPE.ShowActive" action="CPE.resetWorkloadStat()" title="Active"></labeled-checkbox>
												<labeled-checkbox class="btn-warning" uid="cpe_completed" label="Resolved" shortlabel="C" ng-model="CPE.ShowResolved" action="CPE.resetWorkloadStat()" title="Resolved"></labeled-checkbox>
												<labeled-checkbox class="btn-success" uid="cpe_accepted" label="Closed" shortlabel="A" ng-model="CPE.ShowClosed" action="CPE.resetWorkloadStat()" title="Closed"></labeled-checkbox>
												<span>
													<select class="btn btn-primary" ng-model="CPE.ShowProduct" ng-change="CPE.datafilter()">
														<option value="All">ALL</option>
														<option value="DvIv">IV & DV</option>
														<option value="IV">ImageView</option>
														<option value="DV">DirectView</option>
														<option value="IS">ImageSuite</option>
													</select>
												</span>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<table class="table table-hover table-bordered table-responsive" border="1" id="result">
												<thead>
													<tr>
														<th style="vertical-align: middle">#</th>
														<th style="vertical-align: middle" ng-repeat="header in CPE.Headers">{{ header }}</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="data in CPE.TaskList | orderBy:CPE.OrderByValue |filter: CPE.dataFilter as filteredCpeRecords">
														<td style="vertical-align: middle; text-align: center">
															<span ng-style="{ textDecorationLine: data.ChildrenTooltip ? 'underline' : 'none', verticalAlign: 'middle', textAlign: 'center', display: 'block' }"
																  data-toggle="tooltip"
																  data-html="true"
																  data-placement="top"
																  data-delay='{ "show": "1500", "hide": "1000" }'
																  data-original-title="{{data.ChildrenTooltip}}">
																{{ $index + 1}}
															</span>
														</td>
														<td style="vertical-align: middle" ng-repeat="column in CPE.FullColumns">
															<span ng-if="column === 'Id'" style="display: block; text-align: center"><a href="{{data['Link']}}" target="_blank">{{data[column]}}</a></span>
															<span ng-if="column === 'Title'"
																  data-toggle="tooltip"
																  title={{data.Description}}
																  data-html="true"
																  data-placement="right"
																  data-delay='{ "show": "1500", "hide": "1000" }'>
																{{getRowData(data, column)}}
															</span>
															<span style="display: block; text-align: center" ng-if="column !== 'Id' && column !== 'Title'">{{getRowData(data, column)}}</span>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

									<div class="row"></div>
									<!-- Summary of developer's story points per the current filter' -->
									<div class="table-bordered" style="border-color: lightblue; margin: 2px;">
										<table-and-chart uid="{{CPE.WorkloadStat.Name}}"
														 label="Workload Summary"
														 headers="CPE.WorkloadStat.Headers"
														 columns="CPE.WorkloadStat.Columns"
														 source-data="CPE.WorkloadStat.Workload"
														 action="CPE.collectWorkloadStatData()"
														 export-data="exportData(CPE.workloadStat)"
														 tip="Working hours statistics by sprint & owner">
										</table-and-chart>
									</div>
									<!-- End -->

									<div class="row"></div>
									<!-- CPE data statistics -->
									<div class="table-bordered" style="border-color:lightblue; margin: 2px;">
										<table-and-chart uid="{{CPE.CatalogStat.Name}}"
														 label="CPE statistics by catalog"
														 headers="CPE.CatalogStat.Headers"
														 columns="CPE.CatalogStat.Columns"
														 source-data="CPE.CatalogStat.Workload"
														 action="removeClass('#CPEStatisticsByCatalog', 'collapse'); CPE.getStatistics()"
														 export-data="exportData(CPE.CatalogStat)"
														 state="collapse"
														 tip="Gets CPE statistics">
										</table-and-chart>
									</div>
									<did class="row">
										<div class="col-md-4">
											<canvas id="{{CPE.CatalogStat.ChartName}}_1" style="width:100%;max-width:700px"></canvas>
										</div>
										<div class="col-md-4">
											<canvas id="{{CPE.CatalogStat.ChartName}}_2" style="width:100%;max-width:700px"></canvas>
										</div>
										<div class="col-md-4">
											<canvas id="{{CPE.CatalogStat.ChartName}}_3" style="width:100%;max-width:700px"></canvas>
										</div>
									</did>
									<!-- End-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for changing the project team -->
		<div class="modal fade" id="selectProjectTeamModal" tabindex="-1" role="dialog" aria-labelledby="selectProjectTeamTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<span class="modal-title" id="selectProjectTeamTitle">Choose a project team</span>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon">Project Team</span>
									<select class="btn btn-default" ng-model="Dev.CurrentTeam" , ng-options="team for team in Dev.ProjectTeamList" ng-change="Dev.projectTeamChanged(Dev.CurrentTeam)"></select>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="input-group">
									<span class="input-group-addon">Short Name</span>
									<input class="form-control" ng-model="Dev.CurrentTeamShortName" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<label class="pull-left"><b>Note:</b>Need to reload page after the change!</label>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="Dev.saveCurrentProjectTeamToLocalStorage()">Save</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</body>
</html>
